//
// Quantum Script Extension Make
//
// Copyright (c) 2018 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-core-application-version--os-win-rc.hpp"
#include "quantum-script-extension-make-version.hpp"
#include "quantum-script-extension-make-copyright.hpp"

XYO_CORE_APPLICATION_VERSION_INFO(QUANTUM_SCRIPT_EXTENSION_MAKE,"qse-make.dll","Quantum Script Extension Make");

